.about-container {
    padding: 10rem 1rem 0;
    display: flex;
    align-items: center;
  }
  
  .image-container {
    position: relative;
    width: 250px;
    height: 250px;
    perspective: 800px; /* Adjust the perspective for the 3D effect */
  }
  
  .about-image {
    width: 100%;
    height: 100%;
    border-radius: 5%;
    transition: transform 0.9s linear;
  }
  
  .about-image:hover {
    transform: rotateY(180deg);
  }
  
  .about-text {
    padding-left: 15px;
  }
  
  @media (max-width: 576px) {
    .about-container {
      padding-top: 12rem;
      flex-direction: column;
      align-items: center;
    }
  
    .about-text {
      padding-top: 15px;
    }
  
  }