.contact-container {
    text-align: center;
    padding-Top: 15em;
  }
  
  .contact-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 30px;
  }
  
  .contact-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #333;
    transition: transform 0.3s, text-decoration-color 0.3s;
    color: #2a607c;
   
  }
  

  .contact-link:hover {
    transform: translateY(-5px);
     animation: bounce .5s infinite alternate;

  }
  
  .contact-label {
    font-size: 16px;
    font-weight: bold;
    transition: text-decoration-color 0.3s;
  }
  
  .contact-link:hover .contact-label {
    text-decoration-color: #2a607c;
  }
  
  .contact-text {
    font-size: 14px;
    margin-top: 5
  }  

  .resumeButton {
    background-color: #2a607c;
    color: aliceblue;
    text-decoration: none;
    transition: transform 0.5s;
    animation: bounce .5s infinite alternate;
    padding: .2rem;
    border-radius: 10%;
    margin-top: 1em;
  }
  
  .resumeButton:hover {
    transform: translateY(-5px);
    animation: none; /* Disable animation on hover */
    background-color: aliceblue;
    color: #2a607c;
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-5px);
    }
  }
  
@media (max-width: 800px) {
  .contact-links {
    flex-direction: column;
    align-items: center;
  }
}









