.projects-container {
    padding-top: 15rem;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    
  }
  
  .project-card {
    text-align: center;
    width: 30%;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    border-color: #2a607c;
    border-style: dotted;
    
  }

  .project-name::first-letter{
    font-size: larger;
    color: #2a607c;
  }
  
  .project-card:hover {
    transform: translateY(-5px);
  }
  
  .project-link {
    text-decoration: none;
    color: #333;
  }
  
  .project-image {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    
  }
  
  .project-title {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
  }

  